body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  margin-bottom: 10px;
}

.slick-slider {
  text-align: center;
}

img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.red-border {
  border: red thin solid;
}